MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/gis-backend?retryWrites=true&w=majority
ADMIN_USERNAME=admin
ADMIN_PASSWORD=gis@123
ADMIN_TOKEN=gis-static-admin-token
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
S3_REGION=eu-north-1
S3_BUCKET=your-bucket-name
PORT=3000
